.home-content{
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 15% 0;
}
.home-content h1{
    font-weight: bold;
    font-size: 82.2px;
    color: #716565;
}
.home-content img{
    width: 682px;
    height: 335px;
}

@media screen and (max-width: 1024px){
    .home-content{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .home-content h1{
        font-size: 53.2px;
    }

    .home-content img{
        width: 285px;
        height: 140px;
    }
}
@media screen and (max-width: 320px){
    .home-content{
        padding: 20% 0;
    }

    .home-content h1{
        align-self: flex-start;
        margin-left: 22px;
    }
}